<html ng-app="grocery">
  <head>
    <title>Tarah's Grocery List</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-controller="mainCtrl">

    <div class="wrapper">
      <div class="title">
        <span>Tarah's Grocery List</span>
        <span class="glyphicon glyphicon-shopping-cart"></span>
      </div>

      <div class="scroll">
        <ul class="grocery-list">
          <li ng-repeat="(key, item) in list">
            <span class="name">{{item}}</span>
            <span class="glyphicon glyphicon-remove" ng-click="delete(key)"></span>
          </li>
        </ul>
      </div>

      <input class="inp-box" type="text" ng-model="newItem" ng-keypress="enter($event, newItem)" autofocus>
      <button class="btn btn-success" ng-click="add(newItem)" ng-disabled="!newItem">Add Item</button>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script src="//cdn.firebase.com/v0/firebase.js"></script>
    <script src="//cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
